<!DOCTYPE html>
<html lang="en" xmlns:th="https.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasksByPage}">
        <td th:text="${task.getId()}">VALUE</td>
        <td th:text="${task.getDescription()}">VALUE</td>
        <td th:text="${task.getStatus()}">VALUE</td>
        <td>
            <form th:method="GET" th:action="@{/tasks/{id}/edit(id=${task.getId()})}" >
                <input type="submit" value="Update"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/tasks/{id}/deleted(id=${task.getId()})}" >
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<p>Add new task:</p>
<form th:method="POST" th:action="@{/tasks}" th:object="${newTask}">
    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <label for="status">Choose status: </label>
    <select id="status" name="status">
        <option th:each="status : ${T(com.ostapchuk.dmitrii.ToDoList.data.entity.Status).values()}"
                th:value="${status}"
                th:text="${#strings.capitalize(status.name())}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<br/>
<tr th:each="onePage : ${pages}">
    <a th:href="@{/tasks/pages/{page}(page=${onePage})}" th:text="${onePage}">VALUE</a>
</tr>


</body>
</html>